/* This is your fonts font-family: 'Poppins', font-family: 'Zen Antique', */

body {
width: 50%;
margin: auto
}

.head{
font-family: 'Zen Antique', serif;
}

.head#h1 {
    font-size: 25px
}

.head#byline {
    font-size: 15px;
    font-weight: bold;
}

.head#pub {
    font-size: 15px;
    font-weight: 200;
    color: grey;
}

.head#subhead {
    font-size: 20px;
}

#masthead {
    line-height: 25px;
}

.copy {
font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
font-size: 16px;
}

.interlinks {
    font-style: italic;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.photo {
    width: 100%;
}

.photo.sidebyside {

}

#groupphoto {
    width: 100%;
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-around;
}

.photo.graphic {
    width: 50%;
    float: right;
    margin-left: 50px;
}

.photo.map {
    width: 50%;
}

#circlemap {
    display: flex;
    justify-content: center;
}

.copy.cutline {
    font-size: 10px;
}

#pullquote {
    margin: 50px 0px 50px 0px;
    background-color:#f5f5f5;
    border-left: 5px solid #ffd18c;
}

.copy.blockquote {
    font-size: 20px;
    color: grey;
}

.link:link {
    color: black;
}

.link:visited {
    color: black;
}

.link:hover {
    color: #ffd18c;
}

.photo.fire {
    margin: 30px 0px 30px 0px;
}

#top {
    margin-bottom: 30px;
}
